<p id="notice"><%= notice %></p>

<div class="col-md-12 my-5">
  <h2 class="text-black text-center">Hola to our KickHeads</h2>
</div>

<div class="row">
  <% @profiles.each do |profile| %>
        
    <div class="col-lg-3 col-md-4 col-sm-3">
      <div class="shadow d-flex justify-content-center align-items-center p-3 bg-dark rounded-lg flex-column">
        <div class="person-img">
          <%= image_tag profile.picture, class: "img-fluid rounded-circle img_s" %>
        </div>
        <div class="person-name my-2">
          <h3 class="text-white"><%= profile.user_name %></h3>
        </div>
        <div class="social-icons my-2">
          <a href="#" class="text-white"><i class="fa fa-facebook p-2"></i></a>
          <a href="#" class="text-white"><i class="fa fa-twitter p-2"></i></a>
          <a href="#" class="text-white"><i class="fa fa-instagram p-2"></i></a>
        </div>
        <button type="button" class="btn btn-secondary btn-lg btn-block">View Profile</button>
      </div>
    </div>
  <% end %>  
</div>

<br>

<% if !current_user.profile %>
    <%= link_to 'New Profile', new_profile_path %>
<% end %>