<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">KicksMarket</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
       <li class="nav-item">
          <a class="nav-link">Users</a>
        </li>        
        <li class="nav-item">
          <%= link_to "Shoes", kicks_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
        <% if user_signed_in? %>
          <%= link_to "LogOut", destroy_user_session_path, class: "nav-link", method: :delete %>
        <% else %>
          <%= link_to "LogIn", new_user_session_path, class: "nav-link" %>
          <%= link_to "SignIn", new_user_registration_path, class: "nav-link" %>
        <% end %>  
        </li>
      </ul>      
    </div>
  </div>
</nav>