<div class="wrapper">
    <div class="greeting"><h1>Welcome Home KickHeads</h1></div>
    <div class="custom_field">
        <div id="typedtext"></div>
    </div>
    <%= link_to kicks_path, class:"custom_btn " do %>
          <span>Explore!</span>
    <% end %>
    
</div>
<script>
// set up text to print, each item in array is new line
var aText = new Array(
"KicksMarket is a market place for", 
"People who collects rare kicks",
"Here you can buy or sell your shoes!!!"
);
var iSpeed = 170; // time delay of print out
var iIndex = 0; // start printing array at this posision
var iArrLength = aText[0].length; // the length of the text array
var iScrollAt = 20; // start scrolling up at this many lines
 
var iTextPos = 0; // initialise text position
var sContents = ''; // initialise contents variable
var iRow; // initialise current row
 
function typewriter()
{
 sContents =  ' ';
 iRow = Math.max(0, iIndex-iScrollAt);
 var destination = document.getElementById("typedtext");
 
 while ( iRow < iIndex ) {
  sContents += aText[iRow++] + '<br />';
 }
 destination.innerHTML = sContents + aText[iIndex].substring(0, iTextPos) + "_";
 if ( iTextPos++ == iArrLength ) {
  iTextPos = 0;
  iIndex++;
  if ( iIndex != aText.length ) {
   iArrLength = aText[iIndex].length;
   setTimeout("typewriter()", 500);
  }
 } else {
  setTimeout("typewriter()", iSpeed);
 }
}


typewriter();

</script>