/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.navbar-brand {
	color: #0e3742 !important;
	font-weight: bold!important;
	font-size: 32px!important;
	letter-spacing: 10px;	
	line-height: 0.70em;
	outline: none;
	animation: animate 5s linear infinite;
}

@keyframes animate
{
	0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
		color: #0e3742;
		text-shadow: none;
	}
	18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
		color: #fff;
		text-shadow: 0 0 10px #03bcf4,
		0 0 20px #03bcf4,
		0 0 40px #03bcf4,
		0 0 80px #03bcf4,
		0 0 160px #03bcf4;
	}
}

.home-image {
	width: 50%;	
}

.card-img-top{
	width: 100%;
	height: 30vw;
	object-fit: cover;
}

// profile page css rules
